@import './utils/mixins';


@import './utils/vars';
@import './components/page-header';
@import './components/main-section';
@import './components/form';
@import './components/icon';
@import './components/work';
@import './components/team';
@import './components/clients';
@import './components/address';
@import './components/join';
@import './components/newsletter';
@import './components/stamp';
@import './components/projekt';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0; padding: 0;
}
body {
    font-family: var(--basic-font);
    color: var(--color-black2);
    background-color: var(--color-white);
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 14px;
}
.container {
    margin: auto;
    padding: 0 15px;

    @include tablet {
        max-width: 830px;
        min-width: 768px;
    }

    @include desktop {
        max-width: 1200px;
    }
}

.section__title {
    padding-bottom: 30px;
    }

.container_footer {
    display: flex;
    justify-content: center;
    text-align: center;

    @include tablet {
        padding: 10px 50px;
        flex-wrap: wrap;
  }
  @include desktop {
    text-align: left;
    padding: 50px;
    vertical-align: baseline;
}
}

a:hover, a:focus, button:hover, button:focus {
    color: var(--color-blue);
}