.address {
    background: var(--color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    .logo {
        font-family:var(--logo-font);
        font-weight: 700;
        font-size: 26px;
        color: var(--color-blue);
        text-decoration: none;
    
    &__studio {
      color: var(--color-black);
    
    &--white {
      color: var(--color-white);
    }
    }
}
&__setup {
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 2.2;
        letter-spacing: 0.03em;
        font-style: normal;
        list-style: none;
        justify-content: center;

        @include desktop {
          gap: 70px;
          text-align: left;
          flex-wrap: nowrap;
      }
      }
      &__item {

        @include desktop {
            flex-wrap: nowrap;
        }
&__city {
          font-style: normal;
          color: var(--color-white);
          line-height: 24px;
      }
&__kontact {    
          color: var(--color-white2);
          text-decoration: none;
      }
}
}