.section-clients {
    padding: 94px 0;
    display: flex;
    align-items: center;
}
.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.clients {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

 
&__icon {
      border: var(--color-fill) 1px solid;
      border-radius: 4px;
      width: 210px;
      height: 92px;
      fill: var(--color-fill);

    @include tablet {
        width: 226px;
    }
    @include desktop {
        width: 170px;
    }
      &:hover, &:focus {
          border: var(--color-blue) 1px solid;
          border-radius: 4px;
          fill: var(--color-blue);
        }
      }
  }