.section__caption {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  padding-top: 94px;


  @include mobile {
    flex-wrap: wrap;

}

@include tablet {
    flex-wrap: wrap;

}

@include desktop {
    flex-wrap: nowrap;
    align-items: center;
}
}
.clients {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-bottom: 94px;
&__icon {
      border: var(--color-fill) 1px solid;
      border-radius: 4px;
      width: 170px;
      height: 92px;
      fill: var(--color-fill);

      @include mobile {
        width: 210px;
        padding: 16px 52px;
    }

    @include tablet {
        width: 226px;
        padding: 16px 60px;
    }

    @include desktop {
        width: 170px;
        padding: 16px 32px;
    }
    
      &:hover, &:focus {
          border: var(--color-blue) 1px solid;
          border-radius: 4px;
          width: 170px;
          height: 92px;
          fill: var(--color-blue);
        }
      }
  }