.clients {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-bottom: 94px;
&__caption {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
      padding-top: 94px;
    }
&__icon {
      border: var(--color-fill) 1px solid;
      border-radius: 4px;
      width: 170px;
      height: 92px;
      fill: var(--color-fill);
    
      &:hover, &:focus {
          border: var(--color-blue) 1px solid;
          border-radius: 4px;
          width: 170px;
          height: 92px;
          fill: var(--color-blue);
        }
      }
  }