.icon {
padding-top: 94px;
width: 100vw;

&__list {
    list-style: none;
    
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    
    @include tablet {
        padding-bottom: 45px;
    }
    @include desktop {
        padding-top: 92px;
        padding-bottom: 0px;
    }
}

&__name {
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
         margin-bottom: 10px;
         padding-top: 30px;

         @include tablet {
            text-align: left;
        }

        @include desktop {
            text-align: left;
        }
     }
&__text {
         line-height: 1.71;
         letter-spacing: 0.03em;
         color: var(--color-gray2);

         @include tablet {
            width: 354px;
        }
        @include desktop {
            width: 270px;
        }
     }
&__size {
         min-width: 100vw;
         max-height: 120px;
         background: #F5F4FA;
         border-radius: 4px;
         padding: 25px 100px;
         
         @include tablet {
            min-width: 354px;
        }

        @include desktop {
            min-width: 270px;
        }

      }   
}