.main-section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), color-stop(50%, rgba(47, 48, 58, 0.4))), url("../images/Img-efect.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 50%), 
    url("../images/Img-efect.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    color: var(--color-white);
    letter-spacing: 0.06em;
    text-align: center;
    padding: 200px 0;
  


    @media (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../images/Img-efect@2x.jpg");
    }

    @media (min-width: 768px) {
        background-image: linear-gradient(to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../images/Img-efect1x.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/Img-efect@2x.jpg");
        }
    }

    @media (min-width: 1200px) {
        height: 600px;
        background-image: linear-gradient(to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../images/Img-efect1x.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url("../images/Img-efect@2x.jpg");
        }
    }

    @include tablet {

        max-width: 1200px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    @include desktop {
        max-height: 600px;
        max-width: 1600px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

&__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--color-white);
        text-align: center;

        @include desktop {
            font-size: 44px;
            line-height: 1.36;
        }
        
    }
&__button {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.9;
      text-align: center;
      letter-spacing: 0.06em;
      color: var(--color-white);
      width: 200px;
      height: 50px;
      background: var(--color-blue);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      margin-top: 30px;
      cursor: pointer;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }
  }