:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-white2: rgba(255, 255, 255);
    --color-gray: rgba(245, 244, 250, 1);
    --color-gray2: rgba(117, 117, 117, 1);
    --color-dark: rgba(47, 48, 58, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-black2: rgba(33, 33, 33, 1);
    --color-blue: rgba(33, 150, 243, 1);
    --color-tlo1:rgba(47, 48, 58, 1);
    --color-fill: rgb(175, 177, 184);
    --basic-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway';
}